body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	letter-spacing: 2px;
}

.navbar-brand {
	font-family: "Ubuntu", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.header {
	font-size: 2.5rem;
	font-weight: bold;
}

.container-fluid {
	margin-bottom: 20px;
	justify-content: center;
	padding: 0 30px 0 30px;
	width: 100%;
}

/* Ripple Effect Live Effect */
.circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: red;

	position: relative;
	top: 50px;
	left: 30px;

	-webkit-transition: height 0.25s ease, width 0.25s ease;
	transition: height 0.25s ease, width 0.25s ease;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.circle:before,
.circle:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border: 1px solid red;
}

.circle:before {
	-webkit-animation: ripple 2s linear infinite;
	animation: ripple 2s linear infinite;
}
.circle:after {
	-webkit-animation: ripple 2s linear 1s infinite;
	animation: ripple 2s linear 1s infinite;
}

@-webkit-keyframes ripple {
	0% {
		-webkit-transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.75);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
		opacity: 0;
	}
}

@keyframes ripple {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

.circle-live {
	position: absolute;
	top: 155px;
	left: 42px;
	font-size: 0.8rem;
}

.confirmed-div {
	padding-right: 5.625px;
}

.death-div {
	padding-left: 1.875px;
	padding-right: 3.75px;
}

.recovered-div {
	padding-left: 3.75px;
	padding-right: 1.875px;
}

.critical-div {
	padding-left: 5.625px;
}

.card-title {
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}

.card-text {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.country {
	text-align: justify;
}

.table {
	background-color: white;
}

.country-flag {
	width: 30px;
	height: 20px;
	object-fit: fill;
	margin-right: 5px;
}

.dataTable {
	font: 0.9em sans-serif;
	overflow: auto;
}

.dataTable_wrapper {
	margin: auto auto;
	font: 0.9em sans-serif;
	overflow: auto;
}

table.dataTable.no-footer {
	border-bottom: 0;
}

.DTFC_LeftBodyLiner {
	overflow-x: hidden;
}

.dangerData {
	color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
	.confirmed-div {
		padding-top: 7.5px;
		padding-right: 3.75px;
		padding-bottom: 3.75px;
	}

	.death-div {
		padding-top: 7.5px;
		padding-right: 15px;
		padding-bottom: 3.75px;
		padding-left: 3.75px;
	}

	.recovered-div {
		padding-top: 3.75px;
		padding-right: 3.75px;
		padding-left: 15px;
	}

	.critical-div {
		padding-top: 3.75px;
		padding-left: 3.75px;
	}
}

@media (max-width: 767px) {
	.confirmed-div,
	.death-div,
	.critical-div,
	.recovered-div {
		padding: 0px 15px 7.5px;
	}
}
